<div id="app">
    <ul>
        <li v-for="item in items" :key="item.id"><a :href="controller + item">{{item}}</a></li>
    </ul>
</div>

@section Scripts
    {
    <script>
    const apiUrl = "https://localhost:7224/CZZ/GetPath";
    const { createApp, ref } = Vue;
        
    const app = Vue.createApp({
      data() {
        return {
          items: [],
          controller: "/Home/ObjectList/"
        };
      },
      methods: {
        //onMounted() {


        //    const response = axios.get(apiUrl).then((response) => response)
        //        .catch((error) => error);
        //    if (response) {
        //        console.log(response)
        //        this.items = response.data;
        //    }
        //    else {
        //        console.log(error)
        //    }
        //},

        fetchData() {
            axios.get(apiUrl)
            .then((response) => {
            this.items = response.data;
            console.log(response.data);
            })
            .catch((error) => {
            console.error("發生錯誤：", error);
            });
        },
      },
      mounted() {
        this.fetchData();
      },
    });
    // 掛載 Vue 3 實例到指定元素
    app.mount("#app");
    </script>
}