<div id="app">
    <ul v-if="!error">
        <li v-for="item in fItems" v-if="item != 'database'"><a :href="controller + item">{{item}}</a></li>
    </ul>
    <div v-else>
        {{error}}
    </div>
</div>

@section Scripts
    {
    <script type="module">
    const apiUrl = "https://localhost:7224/CZZ/GetPath";

    import { createApp, ref, computed, onMounted } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    createApp({
        setup() {
            const items = ref([]);
            const error = ref('');
            const controller = '/Home/ObjectList/';

            onMounted(async () => {
                await fetchData();
            })

            async function fetchData() {
                axios.get(apiUrl)
                    .then((response) => {
                        items.value = response.data;
                    })
                    .catch((error) => {
                        error.value = error;
                    });
            }

            const fItems = computed(() => {
                    const datas = [...items.value.filter(t => {
                        return t !== 'database';
                    })]
                return datas
            });

            return {
                fItems,
                error,
                controller
            }
        }
    }).mount('#app');
    </script>
}