<div id="app">
    <select class="form-select" aria-label="Default select example" v-model="selectedFunction">
        <option value="Home">首頁</option>
        <option value="House">租屋助手</option>
        <option value="CloudDrive">雲端硬碟</option>
    </select>

    <div v-if="selectedFunction === 'House'">
        <date-list></date-list>
    </div>
    <div v-else-if="selectedFunction === 'CloudDrive'">
        <cloud-drive></cloud-drive>
    </div>
</div>

@section Scripts
    {
    <script type="module">
        const { Tooltip, Popover, Carousel } = bootstrap
        const ಠ_ಠ = 'ಠ_ಠ';
        console.log(ಠ_ಠ);

        export const tooltip = {
            mounted(el) {
                const tooltip = new Tooltip(el)
            }
        }

        export const popover = {
            mounted(el) {
                const popover = new Popover(el)
            }
        }

        export const carousel = {
            mounted(el) {
                const carousel = new Carousel(`#${el.id}`, {
                    //interval: 2000, //輪播時間(毫秒)
                    touch: false
                })
            }
        }

        import DateList from '/vue-components/House/DateList.js'
        import CloudDrive from '/vue-components/NAS/CloudDrive.js'
        import { createApp, ref, computed, onMounted } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp({
            components: {
                'date-list': DateList,
                'cloud-drive': CloudDrive
            },
            setup() {
                const selectedFunction = ref('Home');

                return {
                    selectedFunction
                }
            }
        }).mount('#app');
    </script>
}