@section Scripts
    {
    <script type="module">

        const { Tooltip, Popover, Carousel } = bootstrap

        export const tooltip = {
            mounted(el) {
                const tooltip = new Tooltip(el)
            }
        }

        export const popover = {
            mounted(el) {
                const popover = new Popover(el)
            }
        }

        export const carousel = {
            mounted(el) {   
                const carousel = new Carousel(`#${el.id}`,{
                    //interval: 2000, //輪播時間(毫秒)
                    touch: false
                })
            }
        }
       
        const apiUrl = "https://localhost:7224/CZZ/GetObject?Date=" + '@ViewBag.Date';

        const app = Vue.createApp({
            data() {
                return {
                    items: [],
                    filteredCount: 0,
                    web: "https://rent.591.com.tw/home/",
                    queryString: '',
                    sortType: '',
                    isReverse: false,
                    error: '',
                    page: 0,
                    filteredPage: 0,
                    pageDataCount: 10
                };
            },
            methods: {
                fetchData() {
                    axios.get(apiUrl)
                        .then((response) => {
                            this.items = response.data.data.data;
                        })
                        .catch((error) => {
                            this.error = error;
                        });
                },
                changeType(type) {
                    if (type == this.sortType) {
                        this.isReverse = !this.isReverse
                    }
                    else {
                        this.sortType = type
                        this.isReverse = false
                    }
                }
            },
            watch: {
                pageDataCount() {
                    this.page = 0;
                },
                isReverse() {
                    this.page = 0;
                },
                sortType() {
                    console.log('sortType');
                    this.page = 0;
                },
                queryString() {
                    console.log('queryString');
                    this.page = 0;
                }
            },
            mounted() {
                this.fetchData();
            },
            computed: {
                filteredItems() {
                    console.log('computed filteredItems');
                    const cloned = JSON.parse(JSON.stringify(this.items));
                    let temp = [...cloned]
                    const searchText = this.queryString
                    const type = this.sortType
                    const sortOrder = this.isReverse

                    if (searchText) {
                        temp = [...cloned.filter(t => {
                            return t.title.indexOf(searchText) > -1 || t.location.indexOf(searchText) > -1;
                        })]

                        temp.forEach(item=> {
                            item.location = item.location.replace(searchText, `<span style="color:red;font-weight:bold">${searchText}</span>`)
                            item.title = item.title.replace(searchText, `<span style="color:red;font-weight:bold">${searchText}</span>`)
                        })
                    }

                    temp.sort((a, b) => {
                        if (typeof (a[type]) === 'string') {
                            if (this.isReverse) {
                                return (parseInt(b[type].replace(/,/g, ''))) - (parseInt(a[type].replace(/,/g, '')))
                            }
                            else {
                                return (parseInt(a[type].replace(/,/g, ''))) - (parseInt(b[type].replace(/,/g, '')))
                            }
                        }
                        else {
                            if (this.isReverse) {
                                return b[type] - a[type]
                            }
                            else {
                                return a[type] - b[type]
                            }
                        }
                    })

                    this.filteredPage = Math.ceil(temp.length / this.pageDataCount);
                    this.filteredCount = temp.length;
                    temp = temp.slice(this.page * this.pageDataCount, this.pageDataCount * this.page + this.pageDataCount)
                    return temp;
                }
            }
        });

        app.directive('tooltip', tooltip)
           .directive('popover', popover)
           .directive('carousel', carousel)
           .mount("#app");

    </script>
}

<div id="app">
    <div v-if="!error">
        <h2>@ViewBag.Date 的新物件</h2> @*@ViewBag: 雙刀流，要改掉*@
        <p>Search <input v-model="queryString" /></p>
        <div>總共 {{filteredCount}} 筆資料
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" :class="{'active' : pageDataCount === 10}"><a v-on:click="pageDataCount = 10" class="page-link" tabindex="-1" aria-disabled="true">10</a></li>
                    <li class="page-item" :class="{'active' : pageDataCount === 50, 'disabled' : filteredCount < 11}"><a v-on:click="pageDataCount = 50" class="page-link" tabindex="-1" aria-disabled="true">50</a></li>
                    <li class="page-item" :class="{'active' : pageDataCount === 100, 'disabled' : filteredCount < 51}"><a v-on:click="pageDataCount = 100" class="page-link" tabindex="-1" aria-disabled="true">100</a></li>
                </ul>
            </nav>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" :class="{'disabled':page === 0}"><a v-on:click="page = 0" class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a></li>
                <li class="page-item" :class="{'disabled':page === 0}"><a v-on:click="page--" class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;</a></li>
                <li v-for="index in filteredPage" class="page-item" :class="{'active':page === index - 1}"><a v-on:click="page = index - 1" class="page-link" :name="index" href="#">{{index}}</a></li>
                <li class="page-item" :class="{'disabled':page === filteredPage - 1}"><a v-on:click="page++" class="page-link" href="#">&gt;</a></li>
                <li class="page-item" :class="{'disabled':page === filteredPage - 1}"><a v-on:click="page = filteredPage - 1" class="page-link" href="#">&raquo;</a></li>
            </ul>
        </nav>

        <table class="table">
            <thead>
                <tr>
                    <th>預覽</th>
                    <th>標題</th>
                    <th class="click" v-on:click="changeType('area')">
                        大小
                        <span class="icon" :class="{'inverse': isReverse}" v-if="sortType == 'area'">
                            <i v-if="!isReverse" class="text-success">▲</i>
                            <i v-else="!isReverse" class="text-danger">▲</i>
                        </span>
                    </th>
                    <th>樓層</th>
                    <th>類型</th>
                    <th class="click" v-on:click="changeType('price')">
                        租金
                        <span class="icon" :class="{'inverse': isReverse}" v-if="sortType == 'price'">
                            <i v-if="!isReverse" class="text-success">▲</i>
                            <i v-else="!isReverse" class="text-danger">▲</i>
                        </span>
                    </th>
                    <th>地址</th>
                    <th>來源</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in filteredItems" :key="item.post_id">
                    <td style="width: 20%">
                        <div :id="'carousel'+index" data-bs-ride="carousel" class="carousel slide" v-carousel>
                            <div class="carousel-indicators">
                                <template v-for="(img,index2) in item.photo_list" >
                                    <button type="button" :data-bs-target="'#carousel'+index" :data-bs-slide-to="index2" :class="{'active':index2===0}" aria-current="true" :aria-label="'Slide '+index2"></button>
                                </template>
                            </div>
                            <div v-if="item.photo_list.length > 0">
                                <div class="carousel-inner">
                                    <div v-for="(img,index2) in item.photo_list" class="carousel-item" :class="{'active':index2===0}">
                                        <img :src="img" class="d-block img-fluid">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" :data-bs-target="'#carousel'+index" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" :data-bs-target="'#carousel'+index" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <div v-else>
                                <img src="https://s.591.com.tw/build/static/house/rentDetail/images/no-img.png" class="d-block img-fluid">
                            </div>
                        </div>
                    </td>
                    <td>
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
                            <a :href="web + item.post_id" v-html="item.title"></a>
                        </span>
                       </td>
                    <td>{{item.area}} 坪</td>
                    <td>{{item.floor_str}}</td>
                    <td>{{item.kind_name}}</td>
                    <td>{{item.price}} {{item.price_unit}}</td>
                    <td v-html="item.location"></td>
                    <td>{{item.role_name}}</td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" :class="{'disabled':page === 0}"><a v-on:click="page = 0" class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a></li>
                <li class="page-item" :class="{'disabled':page === 0}"><a v-on:click="page--" class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;</a></li>
                <li v-for="index in filteredPage" class="page-item" :class="{'active':page === index - 1}"><a v-on:click="page = index - 1" class="page-link" :name="index" href="#">{{index}}</a></li>
                <li class="page-item" :class="{'disabled':page === filteredPage - 1}"><a v-on:click="page++" class="page-link" href="#">&gt;</a></li>
                <li class="page-item" :class="{'disabled':page === filteredPage - 1}"><a v-on:click="page = filteredPage - 1" class="page-link" href="#">&raquo;</a></li>
            </ul>
        </nav>
    </div>

    <div v-else-if="error">
        <h2 style="color:red">{{error.name}}</h2>
        <p>{{error.message}}</p>
    </div>

    <div v-else>
        <h1>No Data</h1>
    </div>
</div>

<style>
    .table th.click {
        cursor: pointer;
    }

    .table th.click {
        cursor: pointer;
    }

    .icon {
        display: inline-block;
    }

    .icon.inverse {
        transform: rotate(180deg)
    }

    table tbody tr:hover {
        cursor: pointer;
         background-color: var(--green-100);
    }

</style>